<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>デモ１</title>
<style type="text/css" rel="stylesheet">
html, td {
  font-family: "IPAPMincho";
}
table {
  border-collapse: separate;
  border-spacing: 0px;
}
hr.hr1 {
  border: #000000 solid 1.5px;
}
tr, th, td {
  border: #000000 solid 0.3px;
  padding: 0.2em;
}
th {
  background-color: #eeeeee;
}
.col15 {
  width: 3em;
}
.col30 {
  width: 6em;
}
.col45 {
  width: 9em;
}
.col60 {
  width: 12em;
}
.col90 {
  width: 18em;
}
</style>
</head>

<body>
<h3>Flying Sauce PDF &amp; Template by Mustache (Handlebars) DEMO 1</h3>
<hr class="hr1"/>
<div>作成日時:{{now}}</div>
<table>
  <tr>
    <th class="col15">#</th>
    <th class="col60">氏名</th>
    <th class="col60">ログインID</th>
    <th class="col90">メールアドレス</th>
  </tr>
  {{#userList}}
  <tr>
    <td>{{no}}</td>
    <td>{{userName}}</td>
    <td>{{loginId}}</td>
    <td>{{email}}</td>
  </tr>
  {{/userList}}
</table>

</body>

</html>